
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Bakkal.cshtml";
}

<html>
<body>
    <div class="container">
        <div class="jumbotron-fluid">
            <img src="https://i2.cnnturk.com/i/cnnturk/75/800x400/5c331da661361f1ff0d5c259" style="width:100%" />
        </div><br />
        <div class="alert alert-success">
            <h2 class="text-center" style="font-family:'Courier New';color:seagreen;font-weight:bold">TAVSİYE</h2>
            <h4 class="text-center" style="color:seagreen;font-family:'Courier New';">Müşterilerin sizi daha fazla tercih etmesini istiyorsanız ürün eklemeyi unutmayınız.</h4>
        </div>
        <div class="alert alert-danger">
            <h2 class="text-center" style="font-family:'Courier New';color:darkred;font-weight:bold">UYARI</h2>
            <h4 class="text-center" style="color:darkred;font-family:'Courier New';">Siparişlerinizi düzenli olarak kontrol etmeyi unutmayınız.</h4>
        </div>
    </div>
</body>
</html>

